@media (max-width: 768px) {
    .logo img {
        max-width: 300px;
        height: auto;

    }
}

.logo {
  opacity: 0; /* เริ่มต้นที่ 0 เพื่อให้รูปภาพซ่อนอยู่ */
}

@keyframes slowFadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.slow-fade-in {
  animation: slowFadeIn 2s ease-in-out; /* ปรับเวลาแสดงออกมาช้าๆ 2 วินาที */
  animation-fill-mode: forwards; /* ทำให้ค่าสุดท้ายของ animation ถูกส่งไปยังสถานะปัจจุบัน */
}

@keyframes slideDown {
  to {
      transform: translateY(0); /* เลื่อนลงมา */
      opacity: 1; /* ทำให้แสดงออกมา */
  }
}

.slow-slide-down {
  animation: slideDown 1.5s ease-in-out forwards; /* ปรับเวลาแสดงออกมาช้าลง 1.5 วินาที */
  opacity: 0; /* เริ่มต้นที่ 0 เพื่อให้รูปภาพซ่อนอยู่ */
}


@media (max-width: 768px) {
  .welcome-text {
    text-align: center;
    display: block;
    white-space: nowrap;
    max-width: 100%; /* ปรับขนาดให้เหมาะสม */
    margin-right: 100px;
  }
}



/* CSS สำหรับปุ่มเมนูให้ดูสมูทและโอเวอร์ซีสมูทตาม responsive */
@media (max-width: 768px) {
    .col-4 {
        width: auto;
        flex: 0 0 auto;
    }
    
     
}


.bd-placeholder-img {
  width: 100%; /* กำหนดให้รูปภาพในคลาสนี้เต็มตามขนาดของพื้นที่ที่มีอยู่ */
  height: auto; /* ให้สูงของรูปปรับอัตโนมัติเพื่อรักษาสัดส่วนของภาพ */
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
    left: 0; /* ตำแหน่งจากด้านซ้ายของ dropdown */
    top: 100%; /* ตำแหน่งจากด้านบนของ dropdown */
    position: absolute;
    

  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  .dropdown:hover .link-secondary {
    border-left: 4px solid #00FFFF;  /* เพิ่มเส้นขอบด้านล่างเมื่อ hover */
  }
  .lighter {
      color: #FFFAFA; /* กำหนดสีของข้อความเป็นสีเทาอ่อน */
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .nav-scroller{
    white-space: nowrap;
    position: relative;
    }
  

    @media screen and (max-width: 768px) {
        .nav .dropdown {
            display: none; /* ซ่อนเมนูทั้งหมดในโหมด responsive */
        }
    }
    /* CSS for responsive design */
    /* ซ่อน dropdown content ของเมนูเมื่อเข้าสู่โหมด responsive */
    .responsive-dropdown .dropdown-content {
        display: none;
    }

    /* แสดง/ซ่อนปุ่ม dropdown เมื่อเข้าสู่โหมด responsive */
    .responsive-dropdown .dropdown > a {
        display: block;
    }

    /* ปรับการแสดงผลของปุ่ม dropdown เมื่อเข้าสู่โหมด responsive */
    .responsive-dropdown .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .img {
        width: 300px;
    }

    /* เพิ่ม Media Query เพื่อปรับขนาดของตารางเมื่อหน้าจอมีขนาดแตกต่างกัน */
    @media (max-width: 768px) {
    table {
    /* ปรับขนาดตารางหรือทำการ scroll เมื่อหน้าจอเล็กลง */
    max-height: 300px; /* กำหนดความสูงสูงสุดของตารางเมื่อหน้าจอมีขนาดเล็กลง */
    overflow-y: auto; /* เพิ่ม scrollbar เมื่อเนื้อหามากเกินขนาดสูงสุดที่กำหนด */
    width: 100%;
    }
}

.card .bd-placeholder-img {
  width: 100%;
  height: 80%;
  /* เพิ่มคุณสมบัติอื่น ๆ ตามที่ต้องการ */
}

.card .bd-placeholder-img img {
  width: 100%;
  height: 100%;
}

.card.shadow-sm {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* ปรับรูปแบบของการ์ด */
    padding: 20px; /* เพิ่ม padding เพื่อให้ข้อความห่างออกมากขึ้น */
  }

  .card.shadow-sm:hover {
    /* background-color: #E4F3D8; */
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card-text {
    color: #333; /* เปลี่ยนสีข้อความ */
    font-weight: bold; /* ทำให้ข้อความหนาขึ้น */
  }

  .text-muted {
    color: #666; /* เปลี่ยนสีข้อความที่ไม่สำคัญ */
    font-style: italic; /* ทำให้ข้อความเป็นตัวเอียง */
  }
  .card {
    height: 100%; /* ความสูงของการ์ด */
    margin-bottom: 30px; /* ระยะห่างด้านล่างของการ์ด */
  }

  /* การกำหนดความสูงของแต่ละการ์ด */
  .card-1 {
    height: 350px; /* ความสูงของการ์ดที่ 1 */
  }

  .card-2 {
    height: 300px; /* ความสูงของการ์ดที่ 2 */
  }

  .card-3 {
    height: 400px; /* ความสูงของการ์ดที่ 3 */
  }

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
}



  

  /* เพิ่มการ์ดใหม่ที่ต้องการตั้งค่าความสูง */
  #notification {
    width: 100%;
    background-color: #f0f0f0;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;;
    font-size: 90%;
    flex-direction: column;
    border-radius: 10px;
    height: 550px;
    }

    #notificationImg {
    display: none;
    width: auto;
    max-width: 600px;
    margin-top: -120px;
    border-radius: 10px;
    }

    #notificationText {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      width: 100%;
      align-items: center;
      font-size: 20px;
  }
  
  @media (max-width: 768px) {
    #notification {
      width: 100%;
      height: 100px;
      background-color: #f0f0f0;
      padding: 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;;
      font-size: 90%;
      flex-direction: column;
    }
    #notificationImg {
      display: none; /* ซ่อนรูปภาพตั้งแต่เริ่มต้น */
      width: auto; /* ขนาดสูงสุดของรูปภาพ */
      max-width: 300px;
      margin-right: 0px; /* ระยะห่างของรูปภาพจากข้อความ */
      margin-top: -140px;
    }
    
    #notificationText {
      display: flex;
      flex-direction: column;
      width: 300px;
      align-items: center;
      margin-top: -5px;
      font-size: 100%;
    }
    
}










    /* CSS เมื่อ hover */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    
  }

@media (max-width: 576px) {
    h4 {
      font-size: 1.2rem; /* ปรับขนาดตามที่เห็นสมควรในหน้าจอขนาดเล็ก */
      padding-bottom: 2rem; /* ปรับระยะห่างด้านล่าง */
    }
    .btn-dropdown{
      margin-left: -45px;
    }
  }

/* CSS */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
    background-color: #07d9e9;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
  }
  
  .scroll-to-top:hover {
    background-color: blue;
  }
  
/* CSS */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-right {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: -10px;
    font-size: 100%;
    margin-top: 10px;
  }

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .footer-right {
      font-size: 60%; /* ทำให้ข้อความเล็กลงเมื่อเป็น responsive */
    }
  }
  
  /* CSS */
.footer-left img {
    width: 90%; /* ขนาดปกติของรูปภาพ */
    max-width: 100%; /* ทำให้รูปภาพมีขนาดไม่เกิน 200px เพื่อป้องกันการขยายภาพเกินขนาดปกติ */
    display: block;
    margin: 0 auto; /* ทำให้รูปอยู่ตรงกลางในขนาดปกติ */
    margin-top: -60px;
    margin-left: 40px;
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .footer-left img {
      width: 90%; /* ขนาดของรูปภาพเมื่อเป็น responsive */
      margin: 0; /* เอาออกเมื่อเป็น responsive */
      display: block;
      margin-top: -70px;
      margin-left: 10px;
    }
  }

  .search-box {
    position: absolute;
    top: 0;
    right: -120px;
    background-color: #fff;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.nested-item {
    display: none;
  }

.fa-xmark{
  margin-top: 5px;
  color: #eb0a0a;
  cursor: pointer;
  font-size: 30px;
}

.fa-magnifying-glass{
  /* margin-top: 0px; */
  color: rgb(10, 59, 235);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}


.img-card{
  margin-top: -10px;
  width: 50%;
  align-items: center;
}

/* สร้างคลาสใหม่สำหรับ Navbar เมื่อมีการเลื่อนลง */
.navbar-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  /* กำหนดสีพื้นหลังหรือสไตล์เพิ่มเติมตามต้องการ */
  background-color: #fff; /* เปลี่ยนสีพื้นหลังเป็นสีขาวเมื่อ Navbar เลื่อนลง */
  /* เพิ่ม transition เพื่อให้การเปลี่ยนแปลงเป็นเรื่องของการลื่นไหล */
  transition: background-color 0.3s ease-in-out;
  z-index: auto; /* ตั้งค่า z-index ให้ Navbar แสดงเหนือส่วนอื่นๆ บนหน้าจอ */
}


.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: top 0.3s ease-in-out;
  background-color: #fff
}
